/* Fundo estilo VSCode */
body {
    background-color: #1e1e1e;
    font-family: "Segoe UI", sans-serif;
    color: #d4d4d4;
}

/* Container principal */
.main-content {
    margin: auto;
    margin-top: 7%;
    width: 380px;
    padding: 40px;
    border-radius: 10px;
    background-color: #252526;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Título */
.main-content h2 {
    font-size: 26px;
    font-weight: 500;
    color: #d4d4d4;
}

/* Form */
.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Inputs modernos */
.form input {
    width: 100%;
    padding: 14px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #3c3c3c;
    background-color: #1e1e1e;
    color: #d4d4d4;
    transition: 0.3s;
}

.form input::placeholder {
    color: #888;
}

.form input:focus {
    outline: none;
    border-color: #007acc;
    box-shadow: 0 0 0 2px rgba(0,122,204,0.4);
}

/* Botão estilo VSCode */
.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 6px;
    background-color: #007acc;
    cursor: pointer;
    font-size: 17px;
    color: white;
    transition: 0.25s;
}

.btn:hover {
    background-color: #0e639c;
}

/* esqueci a senha 
.btn-reset-pass {
    background: none;
    border: none;
    color: #007acc;
    cursor: pointer;
    margin-top: -10px;
    font-size: 14px;
    transition: 0.3s;
}

.btn-reset-pass:hover {
    color: #0e639c;
}
*/